.brew-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.brew-modal {
  background: #ebdbc1;
  width: 90%;
  max-width: 650px;
  max-height: 85vh;
  overflow-y: auto;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

.brew-modal img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 22px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
