.card-bg {
  background-color: #ebdbc1;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50px;
  margin: 50px;
  margin-left: 60px;
  margin-right: 60px;
  padding: auto;
}

.explore-page {
  max-width: 1200px;
  width: 100%;
  /* 
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 60px; */
}

.explore-title {
  font-size: 40px;
  margin-bottom: 60px;
  color: #765a3f;
}
.explore-cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.explore-card {
  background-color: #ebdbc1;
  border-radius: 25px;
  padding: 25px;
  margin-top: 45px;
  width: 260px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}
/* .explore-card:hover {
  transform: translateY(-8px);
} */

.explore-card img {
  width: 100%;
  border-radius: 20px;
}

.explore-card h3 {
  margin: 20px 0;
  color: #333;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #765a3f;
  color: #ebdbc1;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
