.header {
  /* position: absolute; */
  top: 20px;
  left: 40px;
  right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn button {
  background: transparent;
  border-color: #ebdbc1;
  border-radius: 10px;
  color: #ebdbc1;
  font-size: 18px;
  cursor: pointer;
}

.btn span {
  color: #ebdbc1;
  font-size: x-large;
}

.btn :hover {
  filter: drop-shadow(0 0 8px black);
  transform: scale(1.05);
}

.logo img {
  width: 200px;
  cursor: pointer;
  filter: drop-shadow(0 0 3px black);
  transition: all 0.3s ease;
}
.logo img:hover {
  filter: drop-shadow(0 0 8px black);
  transform: scale(1.05);
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons img {
  width: 38px;
  cursor: pointer;
  filter: drop-shadow(0 0 3px black);
  transition: transform 0.25s ease, filter 0.25s ease;
  border-radius: 20px;
}

.icons img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px black);
}
