.front {
  position: relative;

  background-color: #ebdbc1;
  border-radius: 50px;
  height: 70vh;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.front h1 {
  color: #333;
  font-style: inherit;
  font-size: xxx-large;
  margin-top: 120px;
  letter-spacing: 7px;
}

.front p {
  font-size: x-large;
  color: #333;
  margin-top: 80px;
  letter-spacing: 1px;
}

.action {
  display: flex;
  gap: 200px;
  margin-top: 150px;
}

.action button {
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  background-color: #765a3f;
  color: #ebdbc1;
  transition: all 0.3s ease;
}

.action button:hover {
  background-color: #5c4330;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  background-color: #ebdbc1;
  color: #765a3f;
}

.bg-image {
  position: fixed;
  width: 100%;
  max-width: 1500px;

  height: 100vh;
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}
