.background {
  background-color: #ebdbc1;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  margin: 150px auto;
  padding-top: 40px;
  max-width: 900px;
}

.log-btn {
  background-color: #765a3f;
  color: #ebdbc1;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}

.btn-wrapper {
  display: flex;
  gap: 70px;
}
.log-heading {
  text-align: center;
}

h2 {
  color: #765a3f;

  margin-top: 0px;
  margin-bottom: 10px;
}
p {
  color: #765a3f;

  font-size: larger;
}

#para {
  margin-bottom: 50px;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.check-item {
  display: flex;
  gap: 15px;
  padding: 12px;
  background: #ebdbc1;
  border-radius: 12px;
  margin-top: 15px;
}

.empty-text {
  margin-top: 40px;
  font-size: 18px;
  color: #765a3f;
  opacity: 0.8;
  text-align: center;
  font-style: italic;
}

.checklist {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
