.background {
  background-color: #ebdbc1;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  margin: 150px auto;
  padding-top: 40px;
  max-width: 900px;
}

.log-btn {
  background-color: #765a3f;
  color: #ebdbc1;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}

.btn-wrapper {
  display: flex;
  gap: 70px;
}
.log-heading {
  text-align: center;
}

h2 {
  color: #765a3f;

  margin-top: 0px;
  margin-bottom: 10px;
}
p {
  color: #765a3f;

  font-size: larger;
}

#para {
  margin-bottom: 50px;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.empty-text {
  margin-top: 40px;
  font-size: 18px;
  color: #765a3f;
  opacity: 0.8;
  text-align: center;
  font-style: italic;
}

/* .check-list {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  outline: 1px #765a3f;
} */

.check-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  outline: 2px solid #765a3f;
  border-radius: 6px;
}

.check-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
}

.check-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  gap: 20px;
}

.check-actions {
  display: flex;
  gap: 10px;
}

.check-actions button {
  border: 2px solid #765a3f;
  background-color: #ebdbc1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
