.log-cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.log-card {
  background-color: #ebdbc1;
  border-radius: 25px;
  padding: 25px;
  margin-top: 45px;
  width: 260px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.log-card img {
  width: 100%;
  border-radius: 20px;
}

.log-card h3 {
  margin: 20px 0;
  color: #333;
}
