.sign-up-bg {
  position: relative;

  background-color: #ebdbc1;
  border-radius: 50px;

  height: 100%;
  min-height: 70vh;
  margin: 50px auto;

  overflow: hidden;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.sign-up {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.sign-up h1 {
  color: #8e5027;
}

.sign-up h1:hover {
  color: #5c3b1e;
}
.form-bg form {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.form-bg label {
  font-size: 20px;
  margin-bottom: 6px;
  color: #5c3b1e;
  font-weight: 600;
  margin-top: 20px;
}

.form-bg input {
  padding: 4px;
  margin-bottom: 10px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  color: #5c3b1e;
}
.form-bg button {
  margin-top: 50px;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50px;
  color: #ebdbc1;
  background-color: #8e5027;
  width: 200px;
  align-self: center;
}

.form-bg button:hover {
  background-color: #5c3b1e;
}
